<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletTeacher</servlet-name>
  	<display-name>ServletTeacher</display-name>
  	
  	<description></description>
  	<servlet-class>com.SPASM.controller.ServletTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletStudent</servlet-name>
  	<display-name>ServletStudent</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.ServletStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostServlet</servlet-name>
  	<display-name>PostServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.PostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReplyServlet</servlet-name>
  	<display-name>ReplyServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherAssignmentServlet</servlet-name>
  	<display-name>TeacherAssignmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.TeacherAssignmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentPostServlet</servlet-name>
  	<display-name>StudentPostServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.StudentPostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentReplyServlet</servlet-name>
  	<display-name>StudentReplyServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.StudentReplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAssignmentViewServlet</servlet-name>
  	<display-name>StudentAssignmentViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.StudentAssignmentViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAssignmentReplyServlet</servlet-name>
  	<display-name>StudentAssignmentReplyServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.StudentAssignmentReplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAssignmentPrivateCommentServlet</servlet-name>
  	<display-name>StudentAssignmentPrivateCommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.StudentAssignmentPrivateCommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentMarksServlet</servlet-name>
  	<display-name>AssignmentMarksServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.AssignmentMarksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherAssignmentPrivateCommentServlet</servlet-name>
  	<display-name>TeacherAssignmentPrivateCommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.TeacherAssignmentPrivateCommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentMarksUpdateServlet</servlet-name>
  	<display-name>AssignmentMarksUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.AssignmentMarksUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotServlet</servlet-name>
  	<display-name>ForgotServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyCodeServlet</servlet-name>
  	<display-name>VerifyCodeServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<display-name>UpdatePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendenceServlet</servlet-name>
  	<display-name>AttendenceServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.AttendenceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AvarageAttendanceServlet</servlet-name>
  	<display-name>AvarageAttendanceServlet</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.AvarageAttendanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.SPASM.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTeacher</servlet-name>
  	<url-pattern>/ServletTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletStudent</servlet-name>
  	<url-pattern>/ServletStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostServlet</servlet-name>
  	<url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReplyServlet</servlet-name>
  	<url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherAssignmentServlet</servlet-name>
  	<url-pattern>/TeacherAssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentPostServlet</servlet-name>
  	<url-pattern>/StudentPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentReplyServlet</servlet-name>
  	<url-pattern>/StudentReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAssignmentViewServlet</servlet-name>
  	<url-pattern>/StudentAssignmentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAssignmentReplyServlet</servlet-name>
  	<url-pattern>/StudentAssignmentReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAssignmentPrivateCommentServlet</servlet-name>
  	<url-pattern>/StudentAssignmentPrivateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentMarksServlet</servlet-name>
  	<url-pattern>/AssignmentMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherAssignmentPrivateCommentServlet</servlet-name>
  	<url-pattern>/TeacherAssignmentPrivateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentMarksUpdateServlet</servlet-name>
  	<url-pattern>/AssignmentMarksUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotServlet</servlet-name>
  	<url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyCodeServlet</servlet-name>
  	<url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendenceServlet</servlet-name>
  	<url-pattern>/AttendenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AvarageAttendanceServlet</servlet-name>
  	<url-pattern>/AvarageAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>
